<% title "Many Things" %>

<table>
  <tr>
    <th>Title</th>
  </tr>
  <% for thing in @things %>
    <tr>
      <td><%=h thing.title %></td>
      <td><%= link_to "Edit", edit_thing_path(thing) %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Thing", new_thing_path %></p>
